### Strings

s = "My name is Eshita"
li = s.split(' ', 1) 
print(li)

In [2]:
# replace - returns a new string since strings are immutable
s = "My name is Eshita Eshita"
#s.replace("Eshita", "Esha")
s.replace("Eshita", "Esha", 1)

'My name is Esha Eshita'

In [3]:
# find - return index
s = "My name is Eshita"
index = s.find('E')
print(index)

11

In [10]:
# upper/ lower - creates a new object and does not change the original string
s = "ABC"
s.lower()
print(s)

ABC

In [11]:
    s = "abcd"
    print(s + 12)

TypeError: can only concatenate str (not "int") to str

In [12]:
# string slicing
s="hello"
s[-1:]

'o'

In [13]:
s = "abcdefghi"
print(s[-3:-1])

gh

### Tuples

In [14]:
a = (1,2)
print(a)

(1, 2)

In [15]:
b,c = 3,4
print(b)
print(c)

3
4

In [16]:
a[1]

2

In [17]:
a[-1]

2

In [18]:
# tuples are immutable
a[3] = 5

TypeError: 'tuple' object does not support item assignment

### if-else

In [19]:
if (10 < 0) and (0 < -10):
     print("A")

elif (10 > 0) or False:
     print("B")

else:
     print("C")

B

In [20]:
if True or True: # true
    if False and True or False: # false
        print('A')
    elif False and False or True and True: # true
       print('B')
    else:
      print('C')
else:
     print('D')

B

In [23]:
x = 'abcd'
for i in range(len(x)):
   print(x)
   x = 'a'

abcd
a
a
a

### Functions

In [47]:
def reverseEachWord(s) :
    # Your code goes here
    string = s.split(' ')
    print(string)
    rev= "" 
    for i in string:
        j = i[::-1]
        print(j)
        rev += j + " "
    return rev

#main
s1 = "hello world"
ans = reverseEachWord(s1)
print(ans)

['hello', 'world']
olleh
dlrow
olleh dlrow

In [56]:
def sum(a,b, *more):
    ans = a+b
    for i in more:
        ans += i
    return ans

In [57]:
ans = sum(2,3,4,5)
print(ans)

14

In [58]:
def sum_diff(a,b):
    return a+b, a-b

sum_diff(5,4)

(9, 1)

In [59]:
x = 50
def change(x):
     x = 2
change(x)
print(x)

50

In [61]:
def power(x, y=2):
    ans = 1
    for i in range(y):
        ans = ans * x
    return ans
print(power(3), end=" ")
print(power(3,3))

9 27

### Assignment

In [93]:
'''
1    1
12  21
123321
'''
def pattern(n):
    for i in range(1,n+1):
        for j in range(1,n+1):
            if j<=i:
                print(j, end=" ")
                
            else:
                print(" ", end=" ")
        for j in range(1,n+1):
            if n-j >= i:
                print(" ", end="")
            else:
                print(n-j+1, end=" ")
        print()
pattern(4)

1          1
1 2       2 1
1 2 3    3 2 1
1 2 3 4 4 3 2 1

In [97]:
# Even Fibbonaci
N = int(input())
sum = 0
n1= 1
n2 =1
while(n1 <= N):
    if n1%2 == 0:
        sum+= n1
    fib = n1+n2
    n1 = n2
    n2 = fib
print(sum)

8
10

In [102]:
# decimal to binary conversion
n = int(input())
binary = ""
if n==0:
    print(0)
else:
    while(n>=1):
        rem = n%2
        n = n//2
        binary += str(rem)
    print(int(binary[::-1]))

12
1100

In [109]:
# prime number in the given range
n = int(input())
for i in range(2,n+1):
    prime = True
    for j in range(2, (i//2)+1):
            if i%j == 0:
                prime = False
                break
    if prime:
        print(i)

9
2
3
5
7

### List

In [118]:
aList = [123, 'xyz', 'zara', 'abc'];
print(aList.pop())

abc

### Dictionaries

In [120]:
d1 = {"john":40, "peter":45}
d2 = {"john":466, "peter":45}
d1 == d2

False

In [3]:
c = dict.fromkeys(['abc', 10, 5], 1)

In [4]:
c

{'abc': 1, 10: 1, 5: 1}

In [6]:
d = dict([['a', 7], ['c', 100]])
d

{'a': 7, 'c': 100}

In [8]:
print(d['a'])
print(d.get('a'))

7
7

In [11]:
d.keys(), d.values(), d.items()

(dict_keys(['a', 'c']),
 dict_values([7, 100]),
 dict_items([('a', 7), ('c', 100)]))

In [13]:
for i in d:
    print(i, d[i])

a 7
c 100

In [121]:
# Reverse each word
s = str(input())
li = s.split(' ')
print(li)
li = reversed(li)
print(li)
print(' '.join(li))

Hello world
['Hello', 'world']
<list_reverseiterator object at 0x1059c83a0>
world Hello

In [129]:
# leader element of array
n = int(input())

arr = [int(i) for i in input().strip().split(" ")]
print(arr)   

for i in range(0, n):
    isLeader = True
    for j in range(i+1, n):
        if arr[i] < arr[j]:
            isLeader = False
            break;
    if isLeader:
        print(arr[i], end=" ")

6
3 12 34 2 0 -1
[3, 12, 34, 2, 0, -1]
34 2 0 -1

In [ ]:
# maximize the sum 
n1 = int(input())
arr1 = [int(x) for x in input().strip().split(' ')]

n2 = int(input())
arr2 = [int(x) for x in input().strip().split(' ')]

result = 0
sum1 = 0
sum2 = 0
i,j = 0,0 
while i<n1 and j<n2:
    if arr1[i] < arr2[j]:
        sum1+=arr1[i]
        i+=1
    elif arr1[i] > arr2[j]:
        sum2+=arr2[j]
        j+=1
    else:
        result+=max(sum1, sum2)
        sum1, sum2 = 0,0
        
        while i<n1 and j<n2 and arr1[i]==arr2[j]:
            result+=arr1[i]
            i+=1
            j+=1

while i<n1:
    sum1+=arr1[i]
    i+=1

while j<n2:
    sum2+=arr2[j]
    j+=1

result+=max(sum1, sum2)

print(result)